<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaints</title>
    <link rel="stylesheet" href="style4.css">
</head>
<body>
        <div id="container">
            <div id="titleDiv">
                <h2 id="title">Admin Dashboard 💌</h2><span id="user">user:<i class="fa-solid fa-user-secret"></i></span>
              <span id="logout"><button id="logoutBtn" onclick="logout()">Logout</button></span> 
            </div>
            <div id="statusBar">
                <p id="totalComplaints">notes to go over: <span id="complaints-number"></span></p>
            </div>
            <div id="load-div">
                <button id="loadComplaints" onclick="loadComplaints()">Check Complaints</button>
            </div>
                <div id="complaintsContainer">
                    <p id="bleh">Complaints</p>
                    <div id="complaintsDiv">
                        
                    </div>
                </div>
        </div>
        <script src="/script.js"></script>
        <script src="https://kit.fontawesome.com/233ea08d99.js" crossorigin="anonymous"></script>
</body>
</html>